@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./particle.css";

@layer base {
  /* body {
    height: 50%;
    width: 100%;
    margin: 0rem;
    overflow: hidden;
  } */

  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none; /* -- Prevent image highlighting -- */
  }

  #image-track > .image {
    width: 30vmin;
    height: 40vmin;
    object-fit: cover;
    object-position: 100% center;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  background-color: rgba(32, 30, 33, 1);
}
